* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container-1 {
  display: flex;
  background-color: #5624d0;
  height: 4rem;
  color: #ffffff;
  align-items: center;
  justify-content: space-between;
  font-size: 100%;
  font-family: "Open Sans", sans-serif;
  padding-left: 250px;
}

#first-1 {
  display: flex;
  justify-content: center;
  align-items: center;
}

#first-2 {
  padding-right: 30px;
}

.yosi-1 {
  font-family: "DM Sans", sans-serif;
  font-weight: bolder;
  padding-right: 5px;
}

#nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
}

#search {
  display: flex;
  border: 1px solid black;
}

.first-box {
  border: 0;
}

#nav {
  padding-left: 20px;
  padding-right: 20px;
  font-family: "Open Sans", sans-serif;
  margin: 10px;
  align-content: center;
}

#company-name {
  font-size: 30px;
  font-weight: 900;
}

#search {
  border-radius: 25px;
  padding: 10px 50px 10px 5px;
  width: 40rem;
  height: 3rem;
  color: #bbb2b2;
  background-color: #fdf9f9;
}

.p-1 {
  font-size: 14px;
  font-weight: 500;
}

.button-1 {
  padding: 10px 10px 10px 10px;
  width: 5rem;
  font-weight: bolder;
  margin-right: 1px;
}

.button-2 {
  padding: 10px 10px 10px 10px;
  width: 5rem;
  background-color: black;
  color: #ffffff;
  font-weight: bolder;
  margin-left: 1px;
}

#language {
  border: 1px solid black;
  padding: 5px 5px 5px 5px;
}

img {
  width: 100%;
  height: 80%;
}

.p-3 {
  font-weight: bolder;
  font-size: 30px;
  margin: 30px 0 20px 25px;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.p-4 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  margin-left: 25px;
}

#courses {
  display: flex;
  margin-left: 25px;
  margin-top: 20px;
}

.course {
  border: 0;
  margin-right: 30px;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 110%;
  font-weight: bolder;
  color: #6e6b6b;
  background-color: #ffffff;
}

.course:hover {
  color: black;
}

#container-2 {
  border: 1px solid rgb(190, 187, 187);
  padding: 25px 20px 20px 18px;
  margin: 20px 25px 30px 30px;
  height: 32rem;
  width: 95%;
  align-content: center;
}

.p-5 {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 200%;
  font-size: 190%;
}

.p-6 {
  font-family: "Open Sans", sans-serif;
  margin-top: 5px;
  font-size: 92%;
  width: 60%;
  letter-spacing: 0.1px;
  font-weight: bold;
  line-height: 1.6;
  word-spacing: 0.1px;
}

#explore-python {
  font-family: "Source Sans Pro", sans-serif;
  margin: 20px 0 25px 0;
  padding: 10px 10px 10px 10px;
  height: 3rem;
  width: 10%;
  font-size: 87%;
}

#container-3 {
  width: 100%;
  height: 30rem;
  background-color: #f5f4f4;
  border: 0;
  margin: 10px 0 60px 0;
  padding: 45px 0 0 20px;
}

.p-7 {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 170%;
  margin-bottom: 20px;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-template-rows: 45px 28px 45px 28px 45px 28px 45px;
}

.first-row {
  font-size: 130%;
  font-family: "Source Sans Pro", sans-serif;
}

.second-row,
.fourth-row,
.sixth-row {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 110%;
  color: #572cc4;
  text-decoration: underline;
}

.third-row,
.fifth-row,
.seventh-row {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 100%;
  color: #6e6b6b;
  font-weight: lighter;
}

.second-row:hover,
.fourth-row:hover,
.sixth-row:hover {
  color: #351780;
}

#explore-topic {
  font-family: "Source Sans Pro", sans-serif;
  margin: 20px 0 25px 0;
  padding: 10px 10px 10px 10px;
  height: 3rem;
  width: 15%;
  font-size: 87%;
}

.p-8 {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 150%;
  font-weight: bolder;
  margin: 50px 50px 20px 50px;
  padding: 50px 50px 10px 50px;
  text-align: center;
}

.p-9 {
  text-align: center;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 100%;
  font-weight: 100rem;
}
